<ul>
    <li>
        <a href="">Strona główna</a>
    </li>
    <li>
        <a href="{% url 'fleet_list' %}">Lista pojazdów</a>
    </li>
    {% if request.user.is_authenticated %}
        <li>
            Witaj {{ request.user.username }} ({{ request.user.employee.location }})!
        </li>
        <li>
            <a href="{% url 'auth_logout_view' %}">Wyloguj</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'auth_login_view' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'auth_register_view' %}">Rejestracja</a>
        </li>
    {% endif %}
    <li>
        <a href="">Kontakt</a>
    </li>
</ul>