{% extends "core/template.html" %}
{% load fleet_tags %}
{% load static %}

{% block title %} Lista pojazdów {% endblock %}

{% block content %}
    <table id="tabela">
        <thead>
            <tr>
                <th>
                    Brand
                </th>
                <th>
                    Model
                </th>
                <th>
                    Paliwo
                </th>
                <th>
                    Rok produkcji
                </th>
                <th>
                    Ilość drzwi
                </th>
                <th>
                    Odnośnik
                </th>
            </tr>
        </thead>
        <tbody>
            {% for element in elements %}
                <tr>
                    <td>{{element.brand}}</td>
                    <td>{{element.model}}</td>
                    <td>{{element.petrol | petrol_name}}</td>
                    <td>{{element.year | brand_new_car}}</td>
                    <td>
                        {% mult element.year element.doors as result %}
                        {{ result }}
                    </td>
                    <td>
                        <a href="">Pokaż</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "core/form_horizontal.html" with form=formularz %}

    <script>
        $(document).ready( function () {
            $('#tabela').DataTable();
        } );
    </script>

{% endblock %}