{% extends "core/template.html" %}
{% load fleet_tags %}
{% load static %}
{% load i18n %}

{% block title %} Lista pojazdów {% endblock %}

{% block content %}
    <table id="tabela">
        <thead>
            <tr>
                <th>
                    {% trans 'FLEET.brand' %}
                </th>
                <th>
                    {% trans 'FLEET.model' %}
                </th>
                <th>
                    {% trans 'FLEET.petrol' %}
                </th>
                <th>
                    {% trans 'FLEET.year' %}
                </th>
                <th>
                    {% trans 'FLEET.doors' %}
                </th>
                <th>
                    Odnośnik
                </th>
            </tr>
        </thead>
        <tbody>
            {% for element in elements %}
                <tr>
                    <td>{% trans element.brand %}</td>
                    <td>{{element.model}}</td>
                    <td>{{element.petrol | petrol_name}}</td>
                    <td>{{element.year | brand_new_car}}</td>
                    <td>
                        {% mult element.year element.doors as result %}
                        {{ result }}
                    </td>
                    <td>
                        <a href="">Pokaż</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "core/form_horizontal.html" with form=formularz %}
    {% comment %}   {% endcomment %}

    <script>
        $(document).ready( function () {
            $('#tabela').DataTable();
        } );
    </script>

{% endblock %}